<% switch (type) {
  case 'archive':
    let last;
    page.posts.each(function(post, i){
      let year = post.date.year();
      if (last != year){
        if (last != null){ %>
          </div></section>
        <% }
        last = year; %>
        <section class="archives-wrap">
          <div class="archive-year-wrap">
            <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
          </div>
          <div class="archives">
      <% } %>
      <%- partial('archive-post', {post: post, archive: true}) %>
    <% });
    if (page.posts.length) { %>
      </div></section>
    <% }
    if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  case 'paper-summary': %>
    <section class="archives-wrap">
    <div class="archive-category-wrap">
      <span class="archive-category">论文阅读</span>
    </div>
    <div class="archives">
    <% page.posts.each(function (post, i) { %>
      <%- partial('paper-post', {post: post, archive: false}) %>
    <% }); %>
    </div></section>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  case 'category': %>
    <section class="archives-wrap">
    <div class="archive-category-wrap">
      <span class="archive-category"><%= page.category %></span>
    </div>
    <div class="archives">
    <% page.posts.each(function (post, i) { %>
      <%- partial('archive-post', {post: post, archive: false}) %>
    <% }); %>
    </div></section>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  case 'tag': %>
    <section class="archives-wrap">
    <div class="archive-tag-wrap">
      <span class="archive-tag"><%= page.tag %></span> <!-- # blair 160724-->
    </div>
    <div class="archives">
    <% page.posts.each(function (post, i) { %>
      <%- partial('archive-post', {post: post, archive: false}) %>
    <% }); %>
    </div></section>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  default:
    page.posts.each(function(post){ %>
      <%- partial('index', {post: post, index: true}) %>
    <% })
    if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
} %>
